<ul>
    <li class="nav-link">
        <a href="/">
            <span>01</span> 
            <span class="text">Inicio</span>
        </a>
    </li>
    <li class="nav-link">
        <a href="../signal1/index.html">
            <span>02</span> 
            <span class="text">Señal Amortiguada</span>
        </a>
    </li>
    <li class="nav-link">
        <a href="../signal2/index.html">
            <span>03</span> 
            <span class="text">Señal Amortiguada en coordenadas polares</span>
        </a>
    </li>
    <li class="nav-link">
        <a href="../signal3/index.html">
            <span>04</span> 
            <span class="text">Grafica de malla</span>
        </a>
    </li>
    <li class="nav-link">
        <a href="../signal4/index.html">
            <span>05</span> 
            <span class="text">Espiral en 3D</span>
        </a>
    </li>
    <li class="nav-link">
        <a href="../signal5/index.html">
            <span>06</span> 
            <span class="text">Cara simple</span>
        </a>
    </li>
</ul>